<h2 mat-dialog-title>偵測資料</h2>
<div mat-dialog-content>
  <h3>{{data.location}}</h3>
  <mat-card>
  	<mat-card-header>
  		<div mat-card-avatar>PM2.5</div>
	    <mat-card-title>{{data.pm25}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
  	<mat-card-header>
  		<div mat-card-avatar>co2</div>
	    <mat-card-title>{{data.co2}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
  	<mat-card-header>
  		<div mat-card-avatar>温度</div>
	    <mat-card-title>{{data.tempreture}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
  	<mat-card-header>
  		<div mat-card-avatar>濕度</div>
	    <mat-card-title>{{data.hum}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
  	<mat-card-header>
  		<div mat-card-avatar>瓦斯</div>
	    <mat-card-title>{{data.gas}}</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">關閉</button>
</div>